In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas_profiling

from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv("../../../input/pima_indian/diabetes.csv")
#train[]

In [3]:
X = train.iloc[:,:-1]
y = train.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1, stratify=y)

In [4]:
data = pd.concat((X_train, X_test))

In [ ]:
data

In [ ]:
data.profile_report()

0이 없는 것 : 유전?, 나이, 
0이 있는 것 : 임신 횟수, 포도당 수치, 혈압, 피부 두께, 인슐린, BMI,

In [5]:
data.loc[data.BMI == 0, "BMI"] = np.NaN
data.loc[data.Glucose == 0, "Glucose"] = np.NaN
data.loc[data.SkinThickness == 0, "SkinThickness"] = np.NaN
data.loc[data.Insulin == 0, "Insulin"] = np.NaN
data.loc[data.BloodPressure == 0, "BloodPressure"] = np.NaN

In [6]:
data['Glocose'] = data.groupby('Age')['Glucose'].apply(lambda x:x.fillna(x.mean()))
data.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Glocose                       0
dtype: int64

In [11]:
data[data.BMI.isnull()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Glocose
81,2,74.0,NaN,NaN,NaN,NaN,0.102,22,74.0
706,10,115.0,NaN,NaN,NaN,NaN,0.261,30,115.0
426,0,94.0,NaN,NaN,NaN,NaN,0.256,25,94.0
371,0,118.0,64.0,23.0,89.0,NaN,1.731,21,118.0
60,2,84.0,NaN,NaN,NaN,NaN,0.304,21,84.0
49,7,105.0,NaN,NaN,NaN,NaN,0.305,24,105.0
145,0,102.0,75.0,23.0,NaN,NaN,0.572,21,102.0
684,5,136.0,82.0,NaN,NaN,NaN,0.640,69,136.0
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,125.0
522,6,114.0,NaN,NaN,NaN,NaN,0.189,26,114.0
494,3,80.0,NaN,NaN,NaN,NaN,0.174,22,80.0

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

diabetes_data = pd.read_csv('../../../input/pima_indian/diabetes.csv')
print(diabetes_data['Outcome'].value_counts())
diabetes_data.head(3)